.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.center-all {
    justify-content: center;
    align-items: center;
}